/*STYLE SHEET*/

#site-header {
    margin-bottom: 15px;
}

.gallery {
    margin: auto;
    max-width: 80%;
    justify-content: center;
    align-content: center;
}

.container {
    margin: 0 auto;
}

/* Images */
.container img {
    margin-bottom: 10px;
    width: 300px;
    object-fit: contain;
    border: 0.15em solid black;
    box-sizing: border-box;
}